# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

1. `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

2. `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

3. `.upper()` : 모두 대문자로 만들어 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

In [ ]:
a.capitalize()
a.title()
a.upper()
# 원본은 그대로, 변형된 값만 보여주는 것 일 뿐!
print(a)

### `.lower()`, `.swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

In [ ]:
a.lower()
a.swapcase()

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'!'.join('배고파')

In [ ]:
a = ['hi', 'hello']
' '.join(a)

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'yay!'.replace('a', '_')

In [ ]:
'wooooooowoo'.replace('o', '', 2)

### 글씨 제거 (`.strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'             oh\n'.strip()

In [ ]:
'           oh\n          '.lstrip()

In [ ]:
'hhehehehehehihihi'.rstrip('hi')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.find('p')
'apple'.find('o')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.index('p')

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'a_b_c'.split('_')

In [ ]:
inputs = input().split()
print(inputs)

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
'asdad'.isalpha()

In [ ]:
'한글은'.isaphia

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.

In [1]:
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [2]:
# 값을 추가해봅시다.
cafe.append('hollys')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'hollys']

In [ ]:
# 어렵게 넣어보도록 해봅시다.

In [ ]:
cafe[len(cafe):] = ['ediya']
print(cafe)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

append와 달리 요소를 하나하나 뽑아서 넣는다는 것에 유의한다!

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [ ]:
cafe.extend(['droptop', '빽다방'])
print(cafe)

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
cafe += ['mcafe', 'burgerking']
print(cafe)

In [ ]:
# append와 비교해봅시다.
cafe.append(['append cafe']) # 리스트 자체를 요소로 넣음
print(cafe)
print('--------')

cafe.extend(['extend cafe']) # 리스트 안의 요소를 뽑아서 넣음
print(cafe)
print('--------')

cafe.extend('extendstring') # 문자열이 들어가면 문자열의 요소를 하나하나 뽑아서 넣음
print(cafe)

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [ ]:
cafe.insert(0, 'hi')
print(cafe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
cafe.insert(len(cafe), 'bye')
print(cafe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.

In [ ]:
cafe.insert(len(cafe)+100, '!')
print(cafe)

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.

In [ ]:
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [ ]:
numbers.remove(1) # 처음 만난 애부터 지운다.
print(numbers)

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [ ]:
numbers.remove(10)
print(numbers)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, **그 항목을 반환합니다.**

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [ ]:
print(a.pop(0))
print(a)

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [ ]:
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}이 되었습니다.')

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [ ]:
a.index(3)

In [ ]:
# .index()는 해당 값이 없을 시 valueerror가 발생합니다.
a.index(100)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [ ]:
a.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [ ]:
a = [1, 2, 5, 1, 5, 1]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [ ]:
print(a)

In [ ]:
target_value in a

### `.sort()`

정렬을 합니다. 

`sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [ ]:
# sort() 를 사용해봅시다.

In [ ]:
import random
lotto = random.sample(range(1,46), 6)
print(lotto)

In [ ]:
lotto.sort()
print(lotto.sort())
print(lotto)

lotto.sort(reverse=True)
print(lotto)

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin']
classroom.reverse()
print(classroom)

## 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [ ]:
copy_list = original_list
print(copy_list)

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [ ]:
copy_list[0] = 5
print(original_list)

In [ ]:
# id 값을 확인해봅시다.

In [ ]:
copy_list is original_list
id(copy_list) == id(original_list)

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
a = 20005
b = a
a is b
b = 30005
print(a)

In [ ]:
# 딕셔너리도 확인해봅시다.

In [ ]:
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
dinner = lunch

dinner['김밥천국'] = '참치김밥'
print(lunch)

### copy
> pythontutor 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
a = [1, 2, 3]
b = a[:] # 전체 복사

b[0] = 5
print(a)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [ ]:
# 얕은 복사의 경우

a = [1, 2, [1, 2]]
b = a[:]

b[2][0] = 100
print(a)

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [ ]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [ ]:
numbers = list(range(1,100))
print(numbers)
numbers.clear()
print(numbers)

# List Comprehension

List Comprehension은 리스트 안에 식, for 문을 지정합니다.

여러줄의 코드를 한 줄로 줄일 수 있습니다.

한 줄짜리 for문은 List Comprehension으로 작성하자! 실행시간 단축시킬 수 있다!

```python
[식 for 변수 in iterable] # 이게 조금 더 좋은 방법

list(식 for 변수 in iterable)
```

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
# 기존의 방법

In [ ]:
cubic_list = []
for i in range(1, 11):
    cubic_list.append(i**3)
print(cubic_list)

In [ ]:
# List Comprehension

In [ ]:
cubic_list = [x**3 for x in range(1, 11)] # 식이 먼저 오고 구문이 뒤에 옴
print(cubic_list)

## List Comprehension + 조건문
```python
[식 for 변수 in iterable if 조건식]
[식 if 조건식 else 식 for 변수 in iterable] : else가 붙은 경우
# elif는 다음과 같이 사용해야 합니다.(if 조건식의 나열)
[식 if 조건식 else 식 if 조건식 else 식 for 변수 in interable]
```

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 기존의 방법

In [ ]:
even_list = []
for even in range(1, 11):
    if even % 2 == 0:
        even_list.append(even)
print(even_list)

In [ ]:
# List Comprehension

In [ ]:
even_list2 = [even for even in range(1, 11) if even % 2 == 0]
print(even_list2)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
# 큰 조건문부터 차례대로 쓰면 된다.
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```python
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
triangle_nums = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                triangle_nums.append((x, y, z))
print(triangle_nums)

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
triangle_nums = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x**2 + y**2 == z**2]
print(triangle_nums)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

```python
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
words = 'Life is too short, you need python!'
result = []

for word in words:
    if word not in 'aeiou':
        result.append(word)
print(''.join(result))

In [ ]:
result = ''.join([word for word in words if word not in 'aeiou'])
print(result)

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
my_dict.pop('apple')
print(my_dict)

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [ ]:
my_dict.pop('melon')
print(my_dict)

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

In [ ]:
my_dict.pop('melon', 0)

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [ ]:
my_dict.update(apple = '사과아아아아아')
print(my_dict)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

In [ ]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('coconut', 1))

## dictionary comprehension (꼭 알아두자!)

dictionary도 comprehension을 활용하여 만들 수 있습니다. 
```python
{키: 값 for 키, 값 in 딕셔너리}
dict(키: 값 for 키, 값 in 딕셔너리)
{키: 값 for 키, 값 in 딕셔너리 if 조건식}
{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}
```

In [ ]:
# dictionary comprehension

In [ ]:
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [ ]:
result = {}
for region, val in dusts.items():
    if val > 80:
        result[region] = val
print(result)

In [ ]:
result = {region: val for region, val in dusts.items() if val>80}
print(result)

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [ ]:
result_2 = {}

for key, val in dusts.items():
    if val > 80:
        result_2[key] = '나쁨'
    else:
        result_2[key] = '보통'
print(result_2)

In [ ]:
result_2 = {key: '나쁨' if val>80 else '좋음' for key, val in dusts.items()}
print(result_2)

In [ ]:
# elif 도 사용할 수 있습니다.(if else 열거)
# 150초과 : 매우나쁨 / 80초과 : 나쁨 / 30초과 : 보통 / 그외 좋음

In [ ]:
result_3 = {key: '매우나쁨' if val>150 else '나쁨' if val>80 else '보통' if val>30 else '좋음' for key, val in dusts.items()}
print(result_3)

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.add('포도')
print(a) # 세트는 순서가 없으므로 index 접근할 수도 없고 무작위로 들어간다.
a.add('포도')
print(a) # 세트에서는 중복이 존재하지 않는다.

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'})
print(a)

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.remove('사과')
print(a)
a.remove('애플')

### `.discard(elem)`
elem를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}

In [ ]:
a.discard('바나나')
print(a)
a.discard('바나나')

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [ ]:
print(a.pop())
print(a)

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)` (꼭 알아두자!)

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 `map_object` 형태로 됩니다.

In [ ]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
new_numbers = ''.join([str(num) for num in numbers])
print(new_numbers)

In [ ]:
# map
new_numbers = map(str, numbers)
#print(new_numbers)
print(''.join(new_numbers))

In [ ]:
numbers = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
new_numbers = [int(num) for num in numbers]
print(new_numbers)

In [ ]:
# map
new_numbers = list(map(int, numbers)) # map object 자체를 함수로 호출해야 하므로 list()를 써야 함 (딕셔너리는 dict()로!)
print(new_numbers)

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(num):
    return num**3

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = list(map(cube, numbers)) # map에 들어가는 function 자리는 사용자 정의 함수명만 작성하면 됨.
print(result)

## `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [1]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [2]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [3]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [4]:
# dictionary comprehension
result = {girl: boy for girl in girls for boy in boys}
print(result)
# 이렇게 하면 이중 for 문이기 때문에, key는 유일해서 마지막 값을 덮어씌워진다.

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [5]:
# zip
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [6]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [ ]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 홀수인지 판단하는 함수를 작성해봅시다.

In [3]:
def odd(num):
    return num % 2

In [4]:
numbers = [1, 2, 3, 4, 5]
list(filter(odd, numbers))

[1, 3, 5]

In [5]:
# 다음의 list comprehension과 동일하다.

In [6]:
[x for x in numbers if x % 2]

[1, 3, 5]

In [7]:
[x for x in numbers if odd(x)]

[1, 3, 5]